html {
  color: #111;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  background-color: #fafafa;
}

div {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: #111;
  font-family: "Nunito", sans-serif;
}

.mobile-menu {
  display: none;
}

.mobile-menu-active {
  display: block;
  width: 100%;
  z-index: 1;
  height: 850px;
  position: fixed;
  background-color: #fafafa;
  overflow-y: hidden;
  overflow-x: hidden;
}

.mobile-nav {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

.mobile-nav a {
  display: inline-block;
  text-decoration: none;
  color: #111;
  font-size: 1.25em;
  padding: 0.125rem 2rem;
}

a:hover {
  color: #333;
}

.hidden {
  display: none;
}

nav {
  display: flex;
  text-align: center;
  margin: 2.5vh 0 5vh 0;
}

.main-nav {
  justify-self: flex-end;
  display: inline-block;
  width: 21px;
}

.main-nav a {
  display: none;
}

.burger-nav {
  font-size: 1.5em;
  font-weight: 400;
  width: 100%;
  cursor: pointer;
  z-index: 1;
  position: relative;
}

.logo {
  font-size: 1.25em;
  flex-grow: 2;
  margin-left: 45px;
  z-index: 1;
}

.logo a {
  color: #111;
}

.container {
  padding: 5vw;
}

.main-banner {
  margin: 15vh 0 15vh 0;
  padding-left: 5vw;
}

.showcase {
  margin-bottom: 5vh;
}

.showcase-item {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.showcase-item-services {
  min-height: 50vh;
  overflow: hidden;
}

.showcase-item img {
  object-fit: cover;
}

.showcase-item h2 {
  position: absolute;
  margin: 0;
  color: #ffffff;
  padding: 0.5rem;
  text-shadow: 1px 1.5px #111;
}

h3 {
  margin: 0;
  color: #111;
  padding: 0.5rem;
}

.showcase-item-services h2 {
  margin: 5vw 0 0 5vw;
  color: #ffffff;
  text-shadow: 0.5px 0.5px #111;
  text-decoration: underline;
}

table {
  padding: 1vh 0 0 4.5vw;
  width: 100%;
  color: #fff;
  font-size: 0.9em;
  border-spacing: 0 10px;
}

tr :nth-child(2) {
  width: 30%;
  text-align: right;
  padding-right: 4.5vw;
}

footer {
  text-align: center;
  margin-bottom: 2.5vh;
}

footer h3 {
  margin-bottom: 3vh;
  color: #111;
  text-decoration: none;
}

footer h3 a {
  color: #111 !important;
}

.footer-nav {
  display: flex;
  justify-content: space-around;
  font-size: 0.8em;
}

.dark {
  color: #111 !important;
  text-shadow: none !important;
}

.about-me {
  font-size: 1.5em;
  word-break: break-word;
  padding-right: 5vw;
  margin: 0;
}

.contact {
  margin: 0 0 5vh 3vw;
}

main i {
font-size: 1em;
padding: 0 0.5em 0 0;
}

.fa-mobile-alt {
  font-size: 1.25em !important;
}

.location {
  margin: 0 0 5vh 3vw;
}

#map {
  height: 250px;
  margin: 3vh 0 5vh 0;
  filter: grayscale(100%);
}
