RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]
RewriteCond %{HTTP_HOST} ^systoncomputerrepair.co.uk [NC]
RewriteRule ^(.*)$ https://www.systoncomputerrepair.co.uk/$1 [L,R=301,NC]